.navbar{
	font-family: $font-family;
	margin:0px;
	background: $nav-bg-color;
	border: none;
	position: relative;
	z-index: 10;
	@include setAllBrowser('transition', all .30s ease);
	@include setAllBrowser('border-radius', 0px);

	.navbar-brand {
	    height: auto;
	    padding: 12px 15px;
	    line-height: 20px;
	    margin-right: 25px;

	    img{
			width: 120px;
	    	image-rendering:-webkit-optimize-contrast;
		}
	}

	.navbar-nav{
		>li>a {
		    color: $nav-color;
		    border-bottom: 5px solid;
		    border-top: 5px solid;
		    border-color: $nav-bg-color;
		    padding-top: 19px;
    		padding-bottom: 19px;
    		@include setAllBrowser('transition', all .15s ease-in-out);

    		.label{
				position: absolute;
			    top: 12px;
			    right: 0px;
			    text-align: center;
			    font-size: 9px;
			    padding: 2px 3px;
			    line-height: .9;
			    width: 17px;
			    height: 17px;
			    line-height: 13px;
			    @include setAllBrowser('border-radius',50%);
			}
		}
		>li.redeem>a{
			margin:13px;
			padding:10px 15px;
			border: solid 1px #fff;
			color:#fff;
			@include setAllBrowser('border-radius', 4px);
			@include setAllBrowser('transition', all .15s ease-in-out);
		}
		>li>a:hover{
			color: $nav-color-hover;
		    background-color: transparent;
		}
		>li.redeem>a:hover{
			background-color: $nav-color-active;
			border-color: $nav-color-active;
			color: $primary-color;
		}
		>li>a:focus{
			@extend a:hover;
		}
		>li.active>a{
		    color: $nav-color-active;
		    background-color: transparent;
		    border-bottom-color: $nav-color-active;
		}
		>li.active>a:focus{
			@extend a;
		}
		>li.active>a:hover{
			@extend a;
		}

		>li.user-menu{
			>a.dropdown-toggle{
				padding: 16px;
				border:none;
				$heightSpan: 35px;

				> span{
					display: block;
				    float: left;
				    background-color: #ededed;
				    color: #ababab;
				    width: $heightSpan;
				    height: $heightSpan;
				    border-radius: 50%;
				    text-align: center;
				    line-height: $heightSpan + 10px;
				    font-size: 40px;
				    overflow:hidden;
				}
				> i{
					line-height: $heightSpan;
    				padding-left: 5px;
    				font-size: 18px;
				}
			}
			>a.dropdown-toggle:after{
				@extend .removeFloatAfter;
			}

			.dropdown-menu{
				padding-bottom: 0px;

				.user-header{
					padding:10px 20px 15px;
					border-bottom: solid 1px #eee;

					.row{
						$valPad: 5px;
						margin-left: $valPad * -1;
						margin-right: $valPad * -1;

						> div{
							padding-left: $valPad;
							padding-right: $valPad;
						}
					}
					.logo{
						overflow: hidden;
						text-align: center;
						border:solid 1px #eee;

						img{
							width: 100%;
						}
					}
					.name{
						@extend .textOver;
						font-weight: bold;
						line-height: 24px;
						margin-top: 10px;
					}
					.email{
						@extend .textOver;
						font-size: 13px;
					}
				}
				.user-body{
					ul{
						@extend .standarUL;

						li{
							border-bottom: solid 1px #eee;

							a{
								padding: 10px 15px;
								color: $font-color;
								display: block;
								@include setAllBrowser('transition',all .20s ease-in-out);
							}
							a:hover{
								text-decoration: none;
								background-color: #f3f3f3;
							}
						}
					}
				}
			}
		}

		>li.notif-menu{
			>a.dropdown-toggle{
				padding: 19px;
				border:none;
				$heightSpan: 30px;

				> span{
					width: $heightSpan;
					height: $heightSpan;
					line-height: $heightSpan;
					text-align: center;
					display: block;
					position: relative;
					border:solid 1px $nav-color;
					@include setAllBrowser('border-radius',50%);
					
					> i{
    					font-size: 16px;
					}
					> .label{
						position: absolute;
					    top: -5px;
					    right: -5px;
					    text-align: center;
					    font-size: 9px;
					    padding: 2px 3px;
					    line-height: .9;
					    width: 17px;
					    height: 17px;
					    line-height: 13px;
					    @include setAllBrowser('border-radius',50%);
					}
				}
			}
		}

		.open>a, .open>a:focus, .open>a:hover {
			background-color: transparent;
			border:none;
		}
	}
}
.sub-navbar{
	background-color: #fff;
	border-bottom: solid 1px #e9e9e9;

	.navbar-nav{
		>li{
			a {
				color: #555;
				padding: 12px 20px;
				@include setAllBrowser('transition',all .20s ease-in-out);
			}
			a:hover{
				background-color: #f7f7f7;
				// border-bottom: 2px solid #eee;	
			}
		}
		>li.active>a{
			background-color: #f7f7f7;
			padding: 12px 20px 10px;
			border-bottom: 2px solid $primary-color;
		}
	}
}