body{
	background-color: #fcfcfc;
}

#loader{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fcfcfc;
	z-index: 9;
	opacity: 1;
	text-align: center;
	color: #555;

	.position-center-center {
		left: 50%;
		position: absolute;
		top: 45%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	p {
		font-style: italic;
		margin-top: 15px;
	}

	img{
		width: 150px;
	}
}

.container.custom-wrap{
	padding:0px;
}
.wrap-content{
	width: inherit;
	height: calc(100% - 113px);
	position: fixed;
	padding: 0 15px;
    margin-right: auto;
    margin-left: auto;

    .row{
    	height: 100%;
    	> div{
    		height: 100%;
    	}
    }

    .fixed-title{
        border-bottom:solid 3px #ddd;
        padding:10px 0px;
        margin-bottom: 0px;
        margin-top: 20px;

        .no{
            background-color: #bbb;
            color: #fff;
            text-align: center;
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-weight: bold;
            border-radius: 50%;
            margin-right: 5px;
        }
        .the-title{
            font-weight: bold;
            font-size: 16px;
            color: $primary-color;

            i{
                display: none;
            }
        }
    }
    .fixed-form-footer{
        background-color: #ddd;
        padding:10px 10px;
    }
    .fixed-form-footer:after{
        @extend .removeFloatAfter;
    }
    .head-vform{
        padding: 8px;
        background-color: #FFF;
        border: solid 1px #ddd;
    }
    .head-vform:after{
        @extend .removeFloatAfter;
    }

    .box-box{
    	position: relative;
    	height: 100%;
    	width: 100%;
    	padding: 30px 0px 20px 0;
    	overflow: hidden;
    	// overflow-x: hidden;

    	.desc{
    		margin-bottom: 20px;

	    	.the-title{
	    		color: $primary-color;
	    		font-size: 24px;
	    		font-weight: bold;
	    		line-height: 24px;
	    		margin-bottom: 10px;
	    	}
	    	.the-desc{
	    		font-size: 14px;
	    	}
	    }

    	.sub-form{
            margin-bottom: 15px;

    		.title{
    			border-bottom:solid 1px #ddd;
    			padding:10px 0px;
                margin-bottom: 20px;

    			.no{
    				background-color: #bbb;
    				color: #fff;
    				text-align: center;
    				display: inline-block;
    				width: 30px;
    				height: 30px;
    				line-height: 30px;
    				font-weight: bold;
    				border-radius: 50%;
    				margin-right: 5px;
    			}
    			.the-title{
    				font-weight: bold;
    				font-size: 16px;
    				color: #bbb;

    				i{
    					display: none;
    				}
    			}
    		}
            .title.for-main{
                .the-title{
                    color: $font-color;
                }
            }
    		.title.active{
    			.no{
    				background-color: $primary-color;
    			}
    			.the-title{
    				color: $primary-color;

    				i{
    					color:#12a627;
    					margin-left: 7px;
    					display: inline;
    				}
    			}
    		}

            .list-doctor{
                .box{
                    width: 120px;
                    height: 120px;
                    border-radius: 4px;
                    box-sizing:border-box;
                    float: left;
                    cursor: pointer;
                    overflow: hidden;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    @include setAllBrowser('transition', all .20s ease-in-out);
                }
                .box.the-doctor{
                    border: solid 1px #ccc;

                    .photo{
                        text-align: center;
                        width: 100%;
                        height: 87px;
                        border-bottom: solid 1px #ccc;
                        overflow: hidden;
                        background-color: #fff;

                        img{
                            width: 100%;
                        }
                    }
                    .name{
                        background-color: #fff;
                        text-align: center;
                        padding: 5px 5px;
                        height: 30px;
                        box-sizing: border-box;
                        font-weight: bold;
                        @extend .textOver;
                    }
                }
                .box.the-doctor:hover{
                    border-color: $primary-color;
                }
                .box.add{
                    border:dashed 2px #ccc;
                    background-color: #eee;
                    padding-top: 15px;

                    .icon{
                        width: 100%;
                        text-align: center;

                        i{
                            font-size: 60px;
                        }
                    }
                    .explainer{
                        text-align: center;
                        font-weight: bold;
                        margin-top: 7px;
                    }
                }
                .box.add:hover{
                    border-style: solid;
                    background-color: #ddd;
                }
            }
            .list-doctor:after{
                content: "";
                display: block;
                clear: both;
            }

            .list-galeri{
                .box{
                    width: 120px;
                    height: 120px;
                    border-radius: 4px;
                    box-sizing:border-box;
                    float: left;
                    cursor: pointer;
                    overflow: hidden;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    @include setAllBrowser('transition', all .20s ease-in-out);
                }
                .box.image{
                    border: solid 1px #ccc;

                    .the-image{
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        background-color: #fff;

                        img{
                            width: 100%;
                        }
                    }
                }
                .box.image:hover{
                    border-color: $primary-color;
                }
                .box.add{
                    border:dashed 2px #ccc;
                    background-color: #eee;
                    padding-top: 15px;

                    .icon{
                        width: 100%;
                        text-align: center;

                        i{
                            font-size: 60px;
                        }
                    }
                    .explainer{
                        text-align: center;
                        font-weight: bold;
                        margin-top: 7px;
                    }
                }
                .box.add:hover{
                    border-style: solid;
                    background-color: #ddd;
                }
            }
            .list-galeri:after{
                @extend .removeFloatAfter;
            }

            .list-location{
                .box{
                    border-bottom: solid 1px #ddd;
                    padding-bottom:15px;
                    padding-top: 15px;
                    cursor: pointer;

                    .list-style{
                        text-align: center;
                        padding-top: 5px;
                        i{
                            font-size: 24px;
                        }
                    }
                    .address{
                        .short{
                            font-weight: bold;
                            font-size: 15px;
                        }
                    }
                    .action{
                        padding-top: 10px;
                    }
                }
                .box:hover{
                    background-color: #eee;
                }
            }

            .list-location.v2{
                .box{
                    border-bottom: solid 1px #ddd;
                    padding-bottom:2px;
                    padding-top: 5px;
                    cursor: pointer;
                }
                .box:hover{
                    background-color: #f5f5f5;
                }
                .checkbox{
                    margin:0px;
                }
                input[type='checkbox']{
                    height: 15px;
                    width: 15px;
                }
            }

            .address-maps{
                border-radius: 4px;
                border:solid 1px #ccc;
                height: 150px;
                overflow: hidden;
                background-color: #fff;
            }
    	}
    }

    .box-box.v4{
        height: calc(100% - 200px);
    }
    .box-box.v3{
        height: calc(100% - 150px);
        padding-bottom: 0px;
    }
    .box-box.v2{
        height: calc(100% - 95px);
    }
    .box-box.vtable{
        padding-top: 0px;
    }
    .box-box.vform{
        background-color: #fff;
        padding: 15px 20px 0px 15px;
        border-left: solid 1px #eee;
    }

    .topbar{
        padding:20px 0;
    }

    .operation{
        .right{
            @include setAllBrowser('transition',all .30s ease-in-out);
            display: none;
        }
        .left{
            @include setAllBrowser('transition',all .30s ease-in-out);
        }
    }

    .img-welcome{
        text-align: center;
        height: 100%;
        padding:40px 20px;
        position: relative;

        img{
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.image-preview-input{
    width: 100%;
    position: relative;
    overflow: hidden;
    @include setAllBrowser('border-radius',4px);
    border:solid 1px #ddd;
    margin-bottom: 10px;
    text-align: center;

    img{
        width: 100%;
    }

    i{
        font-size: 60px;
        margin:40px 0;
        position: inline-block;
    }
}
.doc-preview-input{
    border:solid 1px #eee;
    padding: 5px 10px;
    color: #999;
    display: inline-block;
    margin-bottom: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}
.btn{
    @include setAllBrowser('transition',all .20s ease-in-out);
}
.btn-primary{
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    border-color: $btn-primary-border;
}
.btn-warning{
    background-color: $btn-warning-bg;
    color: $btn-warning-color;
    border-color: $btn-warning-border;
}
.btn-submit{
    padding-left: 25px;
    padding-right: 25px;   
}

hr.devider{
    border-color: #ccc;
}

/*============================================================================
TABLE CONFIG
============================================================================*/
table{
    tbody{
        tr{
            td{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                box-sizing:border-box;
                display: inline-block;
            }
        }
    }
}

.table{
    margin-bottom: 0px;
}

table.header-table{
    background: #FFFFFF;
    border-top: 1px solid #ddd;
    border-radius: 0 !important;
    height: 45px !important;
    margin-bottom: 0px;

    thead{
        tr{
            th{
                color: #333;
                font-weight: bold !important;
                padding: 8px;
                line-height: 28px !important;
                vertical-align: top;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                border-bottom: 1px solid #ddd;
                display: inline-block;
            }
        }
    }
}
table.table-clickable{
    tr{
        cursor: pointer;  
        @include setAllBrowser('transition',all .15s ease-in-out);
    }
    tr:hover{
        background-color: #ddd;
        // color: #fff;
    }
    tr.active{
        background-color: #2e7dd6;
        color: #fff;
    }
}

table.tb-list-voucher{
    $w1: 30%;
    $w2: 18%;
    $w3: 15%;
    $w4: 10%;
    $w5: 15%;
    $wlast: 100% - $w1 - $w2 - $w3 - $w4 - $w5;
    thead{
        tr{
            th:first-child{width: $w1;}
            th:nth-child(2){width: $w2}
            th:nth-child(3){width: $w3}
            th:nth-child(4){width: $w4}
            th:nth-child(5){width: $w5}
            th:last-child{width: $wlast;}
        }
    }
    tbody{
        tr{
            td:first-child{width: $w1;}
            td:nth-child(2){width: $w2}
            td:nth-child(3){width: $w3}
            td:nth-child(4){width: $w4}
            td:nth-child(5){width: $w5}
            td:last-child{width: $wlast;}
        }
    }
}
/*============================================================================
END TABLE CONFIG
============================================================================*/

@media (max-width: $break-small){
	.container-fluid{
		padding-right: 15px;
		padding-left: 15px;
	}
}