.pos-relative{position: relative;}
.pos-absolute{position: absolute;}
.pos-fixed{position: fixed;}

.text-center{text-align: center;}
.text-right{text-align: right;}

.clear{clear: both;}
.removeFloatAfter{
	clear: both;
	float: none;
	display: block;
	content: '';
}

.textOver{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.standarUL{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

@mixin setAllBrowser($property, $val){
	-webkit-#{$property}: $val;
	-moz-#{$property}: $val;
	-ms-#{$property}: $val;
	#{$property}: $val;
}

@for $i from 1 through 10 {
	.ml-#{$i*5} {
		margin-left: $i*5;
	}
	.mr-#{$i*5} {
		margin-right: $i*5;
	}
	.mt-#{$i*5} {
		margin-top: $i*5;
	}
	.mb-#{$i*5} {
		margin-bottom: $i*5;
	}
}
@for $i from 1 through 10 {
	.pl-#{$i*5} {
		margin-left: $i*5;
	}
	.pr-#{$i*5} {
		margin-right: $i*5;
	}
	.pt-#{$i*5} {
		margin-top: $i*5;
	}
	.pb-#{$i*5} {
		margin-bottom: $i*5;
	}
}

.range-input-wrap{
	.first{
		float: left;
		width: 47.5%;
	}
	.between{
		padding-top: 30px;
		width: 5%;
		float: left;
		text-align: center;
	}
	.last{
		width: 47.5%;
		float: left;
	}
}
.range-input-wrap:after{
	display: block;
	content: '';
	clear: both;
}

.narrow{
	margin-right: -5px;
	margin-left: -5px;

	>div{
		padding-right: 5px;
		padding-left: 5px;
	}
}

.help-inline{
	font-size: 12px;
	color: #777;
	display: inline;
	line-height: 2px;
}
.help{
	font-size: 12px;
	color: #777;
	display: inline-block;
	line-height: 14px;
}
.list-input{
	margin-bottom: 5px;

	.input{
		width: 90%;
		float: left;
		margin-right: 1%;
	}
	.action{
		width: 9%;
		float: left;
	}
}
.list-input:after{
	@extend .removeFloatAfter;
}

table.header-fixed thead {
  width: 97%;
}
table.header-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
table.header-fixed thead, table.header-fixed tbody, table.header-fixed tr, table.header-fixed td, table.header-fixed th {
  display: block;
}
table.header-fixed tr:after{
	@extend .removeFloatAfter;
}
table.header-fixed tbody td, table.header-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}