@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($val){
	-webkit-transition: $val;
	-moz-transition: $val;
	-ms-transition: $val;
	transition: $val;
}

@mixin setAllBrowser($property, $val){
	-webkit-#{$property}: $val;
	-moz-#{$property}: $val;
	-ms-#{$property}: $val;
	#{$property}: $val;
}