.navbar{
	font-family: 'Open Sans', sans-serif;
	transition: all .30s ease;
	border-radius: 0px;
	margin:0px;
}
.navbar-default{
	background: #164d64;
	border: none;
}
.navbar-brand {
    height: auto;
    padding: 12px 15px;
    font-size: 18px;
    line-height: 20px;
    margin-right: 25px;
}
.navbar-brand img{
	width: 120px;
    image-rendering:-webkit-optimize-contrast;
}
.navbar-default .navbar-nav>li>a {
    color: #deecf1;
    transition: all .15s ease-in-out;
    border-bottom: 5px solid;
    border-top: 5px solid;
    border-color: #164d64;
}
.navbar-default .navbar-nav>li#iframe-login>a{
	border:solid 1px #fff;
	padding:7px 25px;
	border-radius: 4px;
	margin: 16px 0;
}
.navbar .account-menu #iframe-login i{
	font-size: 20px;
	display: none;
}
.navbar-default .navbar-nav>li#iframe-cart>a{
	font-size: 20px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #9ed7ea;
    background-color: transparent;
}
.navbar-default .navbar-nav>li#iframe-login>a:focus, .navbar-default .navbar-nav>li#iframe-login>a:hover {
    color: #164d64;
    background-color: #9ed7ea;
    border-color: #9ed7ea;
    font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #9ed7ea;
    background-color: transparent;
    border-bottom-color: #5cb1cd;
}
.navbar .lokasi{
	color: #deecf1;
	height: 22px;
    padding: 23px 0;
    box-sizing: content-box;
}
.navbar .lokasi > span{
	float: left;
}
.navbar .lokasi > i{
	display: none;
	float: left;
}
.navbar .lokasi a{
	color: #deecf1;
	position: relative;
    padding: 0 15px 0 5px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: normal;
    text-align: center;
    z-index: 10;
    z-index: inherit;
}
.navbar .lokasi a i{
	font-weight: normal;
	display: inline-block;
    float: left;
    padding-top: 2px;
}
.navbar .lokasi a #current-location-text{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    text-align: left;
}
.navbar .lokasi #lokasi-opsi-wrapper{
    position: absolute;
    margin-top: 5px;
    margin-left: 85px;
    display: none;
    z-index: 9999;
}
.navbar .lokasi #lokasi-opsi-wrapper .lokasi-opsi-content{
    background-color: #fff;
    width: 180px;
    max-height: 570px;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.25);
    box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.25);
    border-radius: 2px;
    padding:12px 0px 12px;
}
.navbar .lokasi #lokasi-opsi-wrapper:before,.navbar .lokasi #lokasi-opsi-wrapper:after{
    position: absolute;
    left: 80px;
    content: "";
}
.navbar .lokasi #lokasi-opsi-wrapper:before{
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0,0,0,0.1);
    top: -8px;
}
.navbar .lokasi #lokasi-opsi-wrapper:after{
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    top: -5px;
}
.navbar .lokasi #lokasi-opsi-wrapper ul{
    max-height: 480px;
    overflow: auto;
    width: 120%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar .lokasi #lokasi-opsi-wrapper ul li{
    display: table;
    margin: 0;
    padding: 0;
    line-height: 1.43;
}
.navbar .lokasi #lokasi-opsi-wrapper ul li a{
    font-size: 12px;
    line-height: 1.4;
    height: 24px;
    padding: 7px 12px;
    width: 180px;
    position: relative;
    display: table-cell;
    overflow: hidden;
    max-width: 180px;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    color: #333;
    -webkit-transition: color .2s ease-in, background .2s ease-in;
    -o-transition: color .2s ease-in, background .2s ease-in;
    transition: color .2s ease-in, background .2s ease-in;
    text-align: left;
}
.navbar .lokasi #lokasi-opsi-wrapper ul li a:hover{
    background: #eee;
    text-decoration: none;
    color: #2d8dae;
}
.navbar .lokasi #lokasi-opsi-wrapper ul li.active a{
    font-weight: bold;   
    color: #ffffff;
    background-color: #2d8dae;
}

.contact-top{
	font-family: 'Open Sans', sans-serif;
	color:#555;
	background: #fff;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #ddd;
	padding:20px 0;
	/*-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);*/
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.02), 0 2px 4px -1px rgba(0,0,0,0.1);*/
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.3);*/
    /*-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);*/
}
.contact-top{
	font-size: 18px;
	padding: 25px 0 22px;
}
.contact-top .the-contact .item{
	float: right;
	margin-left: 50px;
}
.contact-top .the-contact .item a{
    color: #555;
    text-decoration: none;
}
.contact-top .the-contact .item i{
	color: #006a96;
	margin-right: 8px;
	font-size: 20px;
}

body header{
	-webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out, -o-transform .5s ease-in-out;
    -webkit-transform: translateY(0px) translateZ(0);
    transform: translateY(0px) translateZ(0);
}
header.sticky {
    -webkit-transform: translateY(-30px) translateZ(0);
    transform: translateY(-30px) translateZ(0); 
}

.navbar .navbar-search {
    padding: 16px 15px;
    margin-bottom: 0;
    z-index: 1;
    width: auto;
}
.navbar .navbar-search input[type=text]{
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}
.navbar .navbar-search .search-parent-older {
    display: inline;
}
.navbar .navbar-search .searchform {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.navbar .navbar-search .search-parent {
    position: relative;
    display: table;
    border-collapse: separate;
    padding: 0 10px;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.navbar .navbar-search i.icon-search {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
    position: absolute;
    top: 8px;
    left: 15px;
    z-index: 3;
    text-align: center;
    font-size: 16px;
    color: #cecece;
}
.navbar .navbar-search .input-wrapper {
    width: 100%;
    padding: 7px 12px 7px 33px;
    margin-bottom: 0;
    display: table-cell;
}
.navbar .navbar-search #search-keyword {
    width: 101%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.navbar .navbar-search #search-keyword {
    position: relative;
    z-index: 2;
    width: 101%!important;
    border-radius: 3px 0 0 3px;
    color: #606060;
    border-right: 0;
}
.navbar .navbar-search #search-keyword::-webkit-input-placeholder{color: #999;}
.navbar .navbar-search #search-keyword:-moz-placeholder{color: #999;}
.navbar .navbar-search #search-keyword::-moz-placeholder{color: #999;}
.navbar .navbar-search #search-keyword:-ms-input-placeholder{color: #999;}
.navbar .navbar-search .cat-wrapper {
	overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    position: absolute;
    width: auto;
    right: 84px;
    z-index: 999;
    top: 0;
    text-align: right;
}
.navbar .navbar-search .cat-wrapper.permanent-active {
    color: #e55b36;
}
.navbar .navbar-search .cat-result-wrapper {
    font-size: 11px;
    background: #fff;
    height: 31px;
}
.navbar .navbar-search .cat-select {
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    height: 36px;
    cursor: pointer;
    visibility: visible;
    width: auto;
    z-index: 10;
    position: absolute;
    margin: 0;
    padding: 7px 8px;
    border: 1px solid #ddd;
    color: #000;
    background: #fff;
    outline: 0;
    right: 0;
    display: block;
}
.navbar .navbar-search .cat-result-wrapper .cat-result {
	color: #777;
    font-size: 11px;
    white-space: nowrap;
    text-indent: 1px;
    height: 34px;
    padding: 0 23px 0 10px;
    text-overflow: ellipsis;
    display: block;
    border: 1px solid #ccc;
    border-right: 0;
    line-height: 32px;
}
.navbar .navbar-search .cat-result-wrapper .cat-result {
	height: 32px;
    border: 0;
    line-height: 32px;
    margin-top: 2px;
}
.navbar .navbar-search .cat-result-wrapper .cat-result i {
    position: absolute;
    top: 11px;
    right: 8px;
    z-index: 9;
    font-size: 14px;
}

.navbar .navbar-search .btn-search-wrapper {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    z-index: 20;
}
.navbar .navbar-search .btn{
    display: inline-block;
    margin-bottom: 0;
    text-transform: capitalize;
    vertical-align: middle;
    cursor: pointer;
    padding: 9px 14px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    background-image: none;
    background-color: #ededed;
    border: 1px solid #bdbdbd;
    color: #606060;
    box-shadow: none;
    transition: all .3s ease;
}
.navbar .navbar-search .new-btn-search {
    height: 36px;
    z-index: 2;
    padding: 0 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #e79e22;
    border-image: initial;
    border-radius: 0 3px 3px 0;
    background-color: #e79e22;
    color: #fff!important;
    width: 74px;
    transition: all .20s ease-in-out;
    outline: 0 !important;
}
.navbar .navbar-search .new-btn-search:hover{
	background-color: #d48e17;
}
.navbar .navbar-search .new-btn-search:active{
	background-color: #ffa100;
}
.navbar-top-small{
	height: auto;
	background-color: #083243;
	min-height: 0px;
	margin:0px;
}
.navbar-top-small .navbar-nav>li>a{
	padding:5px 7px;
	color:#ccc;
	font-size: 12px;
}
.navbar-top-small .navbar-nav>li#iframe-partner>a{
	/*font-weight: 600;*/
}
.navbar-top-small .navbar-nav>li>a:hover{
	background-color: transparent;
	text-decoration: underline;
}
.navbar-top-small .navbar-nav>li:last-child>a{
	padding-right: 0px;
}

@media (max-width: 1100px){
	.navbar .navbar-search {
	    padding: 16px 0px;
	}
	.navbar .navbar-search .search-parent-older {
    	display: inline-block;
    }
    .navbar .navbar-search .search-parent {
    	padding: 0px;
    }
    .navbar .lokasi a #current-location-text{
	    max-width: 135px;
	}
}
@media (min-width: 768px){
	.navbar-nav>li>a {
	    padding-top: 19px;
    	padding-bottom: 19px;
	}
	.search-form-top .search-object .col-sm-4{
		padding-right: 0px;
	}
	.search-form-top .search-object .col-sm-8{
		padding-left: 0px;
	}
    .navbar .lokasi #lokasi-opsi-wrapper .lokasi-opsi-content{
        box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    }
    .navbar .navbar-search .new-btn-search i {
        display: none;
    }
}
@media (max-width: 768px){
	.container-fluid{
		padding-right: 15px;
		padding-left: 15px;
	}
	header.sticky {
	    -webkit-transform: translateY(-64px) translateZ(0);
	    transform: translateY(-64px) translateZ(0); 
	}
	.navbar-top-small{
		display: none;
	}
	.account-menu .nav{
		margin:0px;
	}
	.account-menu .nav>li{
		display: inline-block;
	}
	.navbar-top-small .nav{
		margin:0px;
	}
	.navbar-top-small .nav>li {
	    position: relative;
	    display: inline-block;
	}
	.navbar-header {
	    float: left;
	    margin-bottom: 5px;
	}
	.navbar .lokasi{
		margin-bottom: 5px;
		margin-right: 0px !important;
		width: calc(100% - 150px);
	}
	.navbar .lokasi > span{
		display: none;
	}
	.navbar .lokasi > i{
		display: inline-block;
	}
	.navbar .lokasi a #current-location-text{
	    max-width: calc(100% - 40px);
	}
    .navbar .lokasi #lokasi-opsi-wrapper{
        margin-left: 0px;
    }
    .navbar .lokasi #lokasi-opsi-wrapper .lokasi-opsi-content{
        box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    }
	.navbar .navbar-search{
		padding-bottom: 5px;
	}
	.navbar .navbar-search .cat-wrapper {
		display: none;
	}
	.navbar .navbar-search i.icon-search {
		display: none;
	}
	.navbar .navbar-search .input-wrapper {
		padding-left: 10px;
	}
	.navbar .navbar-search .search-parent-older {
    	width: 70%;
	}
	.navbar .navbar-search .new-btn-search {
		background-color: #fff;
	    border: 1px solid #ccc;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	    -webkit-transition: border linear .2s,box-shadow linear .2s;
	    -moz-transition: border linear .2s,box-shadow linear .2s;
	    -o-transition: border linear .2s,box-shadow linear .2s;
	    transition: border linear .2s,box-shadow linear .2s;
	    border-left: none;
	    color: #606060 !important;
	    padding:0px;
	    width: 34px;
	}
	.navbar .navbar-search .new-btn-search:hover{
		background-color: #f4f4f4;
	}
	.navbar .navbar-search .new-btn-search:active{
		background-color: #fff;
	}
	.navbar .navbar-search .new-btn-search i{
		font-size: 16px;
	}
	.navbar .navbar-search .new-btn-search span{
		display: none;
	}
	.navbar .account-menu #iframe-register{
		display: none;
	}
	.navbar-default .navbar-nav>li#iframe-login>a {
		padding:4px 10px;
		border: none;
		margin:0px;
	}
	.navbar-default .navbar-nav>li#iframe-cart>a {
		padding:4px 10px;
		margin:0px;
		margin-right: 0px;
	}
	.navbar .account-menu #iframe-login span{
		display: none;
	}
	.navbar .account-menu #iframe-login i{
		display: inline;
	}
}