body{
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	color: #555;
	transition: all .20s ease-in-out;
}
.clear{
	clear: both;
	float: none;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15{
  	margin-left: 15px !important;
}
.mr-15{
  	margin-right: 15px !important;
}
.mt-30{
	margin-top: 30px !important;
}
.absolute {
    position: absolute;
}
ul.inline, ol.inline {
    margin-left: 0;
    list-style: none;
}
.btn{
	padding: 10px 30px;
	font-size: 16px;
}
.btn.btn-sm{
	padding: 5px 15px;
	font-size: 14px;
}
.btn.btn-full{
	width: 100%;
}
.btn.btn-primary{
	background: #164d64;
}
@media (max-width: 992px){
	.col-sm-12{
		margin-bottom: 10px;
	}
}
/*=======================================================
			End Init
========================================================*/

.js-flyout-overlay{
	background-color: rgba(50,50,50,0.45);
    position: fixed;
    z-index: 89;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}
.outer-wrapper{
	margin-top: 100px;
	background: #fcfcfc;
	padding-bottom: 40px;
}
#content-container{
	min-height: 300px;
}
.container-fluid {
    padding-right: 40px;
    padding-left: 40px;
}
.space-nav{
	margin-top: 200px;
}
.form-control{
	font-family: 'Roboto', sans-serif;
	display: block;
    width: 100%;
    height: auto;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group-addon{
	font-family: 'Roboto', sans-serif;
}
.form-group{
	margin-bottom: 20px;
}
legend{
	display: inline-block;
    width: auto;
    padding: 0;
    margin-bottom: 0px;
    font-size: inherit;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: none;
   	font-weight: bold;
   	padding: 0 5px;
}
.content{
	min-height: 450px;
	padding: 0px 0 60px;
}

.become-clinic-partner section{
	padding: 40px 0 60px;
}
.become-clinic-partner section h2{
	margin-bottom: 25px;
}
.become-clinic-partner section.about{
	text-align: center;
	padding-top: 10px;
}
.become-clinic-partner section.about p{
	font-size: 16px;
	line-height: 24px;
}
.become-clinic-partner section.benefit{
	text-align: center;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	background: #fff;
}
.become-clinic-partner section.benefit .the-benefit{
	margin-top: 60px;
}
.become-clinic-partner section.benefit .icon{
	border: solid 2px #ddd;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin:0 auto 20px auto;
}
.become-clinic-partner section.benefit .desc{
	font-size: 16px;
}
.become-clinic-partner section.benefit .desc .title{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}
.become-clinic-partner section.form-register{
	padding-bottom: 20px;
}
.become-clinic-partner section.form-register h2{
	text-align: center;
	margin-bottom: 40px;
}
.become-clinic-partner section.form-register .group-address{
	border: solid 1px #ccc;
	padding:20px;
	border-radius: 10px;
}
.become-clinic-partner section.success-register{
	padding-bottom:0px;
	margin-bottom: -60px;
}
.become-clinic-partner section.success-register .message{
	padding-top: 40px;
	padding-right: 45px;
}
.become-clinic-partner section.success-register .message .contact .the-contact{
	border-right: solid 1px #ddd;
}

.select2-style .select2-container-multi .select2-choices {
    height: auto !important;
    min-height: 0px;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
    cursor: text;
    overflow: hidden;
    background-color: transparent;
    background-image: none;
}
.select2-style .select2-container-multi.select2-container-active .select2-choices{
	box-shadow: none;
	border: none;
}
.select2-style .select2-container-multi .select2-choices .select2-search-field input {
	padding: 0px;
}
.select2-style .select2-dropdown-open.select2-drop-above .select2-choice,.berobat .select2-dropdown-open.select2-drop-above .select2-choices {
    border: none;
    border-top-color: transparent;
    background-image: none;
    box-shadow: none;
}
.select2-style .select2-container-multi .select2-choices .select2-search-choice {
    padding: 5px 7px 5px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #518896;
    cursor: default;
    border: 1px solid #a2cbd8;
    border-radius: 3px;
    background-color: #d8e8ec;
    background-image: none;
}
.select2-style .select2-search-choice-close {
    top: 5px;
}

.the-contact .item i{
	color: #006a96;
	margin-right: 10px;
}
.the-contact .item{
	margin-bottom: 5px;
}

.voucher-list section{
	padding-top: 30px;
    padding-bottom: 20px;
}
.voucher-list section:last-child{
	margin-bottom: 0px;
}
.voucher-list .item .box{
	background: #fff;
	height: 370px;
	border-radius: 4px;
	border:solid 1px #ddd;
	box-sizing: border-box;
	cursor: pointer;
}
.voucher-list .item .box .wrap-hover{
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color:rgba(0,0,0,0.7);
	transition: all .20s ease-in-out;
}
.voucher-list .item .box .wrap-hover a{
	display: block;
	border:solid 1px #fff;
	padding:15px 0px;
	font-size: 16px;
	text-align: center;
	width: 160px;
	box-sizing: border-box;
	color: #fff;
	top: calc(50% - 27px);
	left: calc(50% - 80px);
	position: absolute;
	transition: all .20s ease-in-out;
}
.voucher-list .item .box:hover .wrap-hover{
	opacity: 1;
}
.voucher-list .item .box .wrap-hover a:hover{
	background-color: rgba(255,255,255,0.4);
	text-decoration: none;
}
.voucher-list .item .box .image{
	height: 61%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.voucher-list .item .box .image .wrap-clinic{
	display: block;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}
.voucher-list .item .box .image .the-clinic{
	display: inline-block;
	background: #c3dfee;
	color: #006a96;
	cursor: pointer;
	padding: 12px 24px;
	border-radius: 7px 7px 0px 0px;
	border:solid 1px #90b7cc;
	font-weight: bold;
	transition: all .20s ease-in-out;
}
.voucher-list .item .box .image .the-clinic:hover{
	text-decoration: none;
	background-color: #a1c5d8;
}
.voucher-list .item .box .image .the-clinic:hover > i{
	color: #4e9cc5;
}
.voucher-list .item .box .image .the-clinic i{
	margin-right: 5px;
	color: #7abadc;
	font-size: 16px;
	transition: all .20s ease-in-out;
}
.voucher-list .item .box .price{
	padding: 10px 0;
}
.voucher-list .item .box .price .the-price{
	float: left;
	padding: 0px 0px 0px 20px;
}
.voucher-list .item .box .price .the-price .voucher{
	color: #006a96;
	font-size: 20px;
	font-weight: bold;
	margin-top: 3px;
}
.voucher-list .item .box .price .the-price .real{
	text-decoration:  line-through;
	margin-top: -2px;
}
.voucher-list .item .box .price .the-discount{
	float: right;
	background:#006a96;
	color: #fff;
	border-radius: 7px 0px 0px 7px;
	padding: 5px 20px 5px 10px;
}
.voucher-list .item .box .price .the-discount .text{
	font-size: 10px;
	text-transform: uppercase;
}
.voucher-list .item .box .price .the-discount .nominal{
	font-size: 23px;
	font-weight: bold;
	margin-top: -5px;
}
.voucher-list .item .box .price .the-discount .nominal .the-percent{
	font-size: 18px;
	font-weight: normal;
	margin-left: 2px;
}
.voucher-list .item .box .name{
	margin: 0px 20px;
	padding: 10px 0;
	border-top:solid 1px #eee;
	height: 60px;
	text-overflow: ellipsis;
    overflow: hidden;
}
.voucher-list .border{
	border-top:solid 1px #e9e9e9;
}
.voucher-list .header{
	margin-top: -15px;
	margin-bottom: 25px;
}
.voucher-list .header span{
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: bold;
	background-color: #fcfcfc;
	z-index: 999;
	display: inline-block;
	padding-right: 15px;
}
.select2-container-multi .select2-choices {
    height: auto !important;
    min-height: 0px;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
    cursor: text;
    overflow: hidden;
    background-color: transparent;
    background-image: none;
}
.select2-container-multi.select2-container-active .select2-choices{
	box-shadow: none;
	border: none;
}
.select2-container-multi .select2-choices .select2-search-field input {
	padding: 0px;
}
.select2-dropdown-open.select2-drop-above .select2-choice,.select2-dropdown-open.select2-drop-above .select2-choices {
    border: none;
    border-top-color: transparent;
    background-image: none;
    box-shadow: none;
}
.select2-container-multi .select2-choices .select2-search-choice {
    padding: 5px 7px 5px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #518896;
    cursor: default;
    border: 1px solid #a2cbd8;
    border-radius: 3px;
    background-color: #d8e8ec;
    background-image: none;
}
.select2-search-choice-close {
    top: 5px;
}
.section-title{
	position: relative;
	box-sizing: border-box;
	margin-top: 15px;
}
.section-title__border{
	border-top:solid 1px #e9e9e9;
}
.section-title__header{
	margin-top: -15px;
	margin-bottom: 15px;
}
.section-title__header span{
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: bold;
	background-color: #fcfcfc;
	z-index: 999;
	display: inline-block;
	padding-right: 15px;
}
.section-action{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-top: -10px;
}

#banner-slide-home{
	overflow:hidden;
	max-height: 27vw;
}
#banner-slide-home .carousel-inner img{
	width: 100%;
}
#banner-slide-home .carousel-control{
	background-image: none;
	background-color: rgba(0,0,0,0.5);
    width: 48px !important;
    height: 48px !important;
    border-radius: 50%;
    top: 50%;
    margin-top: -24px;
    transition: all .20s ease-in-out;
}
#banner-slide-home .carousel-control:hover{
	background-color: rgba(0,0,0,0.8);
}
#banner-slide-home .carousel-control:focus{
	background-color: rgba(0,0,0,0.5);
}
#banner-slide-home .carousel-control.right{
	right: 20px;
}
#banner-slide-home .carousel-control.left{
	left: 20px;
}
#banner-slide-home .carousel-control i{
	line-height: 48px;
}
#categories{
	padding-top: 20px;
	padding-bottom: 25px;
	margin-bottom: 30px;
	background-color: #fff;
	border-bottom:solid 1px #eee;
}
#categories .section-title__header span{
	background-color: #fff;
}
.category-section-content{
	margin-left: -0.37%;
	margin-right: -0.37%;
	text-align: center;
}
.category-section-content__box{
	width: 9%;
	margin: 0.37%;
	text-align: center;
	display: inline-block;
	border-radius: 4px;
	border:solid 1px #ddd;
	color: #555;
	box-sizing: border-box;
	padding: 5px;
	font-size: 12px;
	min-width: 110px;
	transition: all .30s ease-in-out;
}
.category-section-content__box:hover,.category-section-content__box:focus{
    text-decoration: none !important;
    border-color: rgba(22, 77, 100,1);
    color: #2d8dae;
    /*box-shadow: 0 0 10px #9ecaed;*/
}
.category-section-content__box img{
	height: 70px;
}
.category-section-content__box span{
	display: block;
	text-align: center;
	margin: 5px auto;
	width: 98%;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

#clinic-list{
	margin:20px 0;
}
#clinic-list .the-clinic{
	display: block;
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 4px;
	border:solid 1px #e4e4e4;
	transition: all .30s ease-in-out;
}
#clinic-list .the-clinic:hover,#clinic-list .the-clinic:focus{
    border-color: rgba(22, 77, 100,1);
}
#clinic-list .the-clinic .logo-clinic{
	height: 140px;
	text-align: center;
	overflow:hidden;
	background-size: cover;
	background-position: center;
}

/*=======================================================
			Model Style
========================================================*/
.modal-backdrop {
	background-color: #fff;
}
.modal-backdrop.in {
    filter: alpha(opacity=100);
    opacity: 1;
}
.modal-content {
	box-shadow: none;
	border: none;
}
.modal-header {
    border-bottom: none;
}
/*=======================================================
			End Model Style
========================================================*/

/*=======================================================
			Page Loader
========================================================*/
.position-center-center {
	left: 50%;
	position: absolute;
	top: 45%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fcfcfc;
	/*-webkit-box-shadow: inset 0px 0px 32px -4px rgba(133,98,29,1);
    -moz-box-shadow: inset 0px 0px 32px -4px rgba(133,98,29,1);
	box-shadow: inset 0px 0px 32px -4px rgba(133,98,29,1);*/
	z-index: 9;
	opacity: 1;
	text-align: center;
	color: #555;
}
.loading {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	width: 100px;
	margin: 0 auto;
	margin-top: 25px;
	position: relative;
	text-indent: -9999em;
}
#loader p {
	font-style: italic;
	margin-top: 15px;
}
#loader img{
	width: 150px;
}
/*=======================================================
			End Page Loader
========================================================*/


/*=======================================================
			Responsive
========================================================*/
@media (min-width: 768px){
	.become-clinic-partner section.form-register .container{
		width: 960px;
	}
}
/*=======================================================
			End Responsive
========================================================*/