/*================================================================
	MODIFY INIT STYLE BOOTSTRAP / ADMIN LTE
================================================================*/
.btn-primary {
	background-color: #066c97;
    border-color: #055a7d;
}

/*================================================================
	START CUSTOM
================================================================*/

body{
	font-family: 'Open Sans', sans-serif;
}
.login-page, .register-page {
    background: #fff;
}
.login-box, .register-box {
	width: 450px;
}
.login-logo{
	text-align: left;
}
.login-box-body{
	padding: 0px 0;
}
.login-box-body .form-control{
	padding-left: 15px;
	padding-right: 15px;
	height: 42px;
}
.login-box-body .form-control-feedback {
	height: 42px;
	line-height: 42px;
}
.login-box-body .btn{
	padding:10px 20px;
	border-radius: 4px;
}
.login-logo .the-desc{
	border-left: solid 1px #eee;
	text-align: left;
	padding: 10px 0px 10px 20px;
	color: #555;
}
.login-logo .the-desc__top{
	font-size: 16px;
	font-weight: bold;
}
.login-logo .the-desc__bottom{
	font-size: 12px;
	font-weight: normal;
}
.main-sidebar .user-panel{
	height: auto;
	display: block;
	padding-top: 0px;
	margin-top: -30px;
	cursor: default;
}
.user-panel>.info {
	position: relative;
	left: 0;
	display: block;
	padding-left: 5px;
}
.user-panel>.info h3{
	line-height: 10px;
}
.user-panel>.info p{
	font-weight: normal;
	color: #999;
}
.main-header .logo {
    background-color: transparent !important;
    border-right: none !important;
    color:#fff !important;
}
.main-header .logo:hover{
	background-color: transparent !important;
}
.sidebar-collapse .main-sidebar .user-panel{
	margin-top: 0px;
}
.navbar-nav li.logout{
	margin-left: 30px;
}
.navbar-nav li.logout a{
	padding: 20px 30px;
}
.navbar-nav .notif{
	padding: 5px 2px;
}
.main-header .navbar .navbar-custom-menu .navbar-nav > li.notif > a{
	border-left: none;
	border: solid 1px #eee;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    padding: 10px 0px;
    text-align: center;
    margin:5px 5px;
    transition: all .20s ease-in-out;
}
.main-header .navbar .navbar-custom-menu .navbar-nav > li.notif > a:hover{
	border-color:#3c8dbc;
}
.main-header .navbar .navbar-custom-menu .navbar-nav > li.notif > a:hover i{
	color:#3c8dbc;
}
.main-header .navbar .nav>li>a>.label {
    position: absolute;
    top: 4px;
    right: 0px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
    border-radius: 50%;
}
.main-header .sidebar-toggle {
	padding:20px 15px;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4 {
    margin: 0 0 0 0px;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>p {
    margin: 0 0 0 0px;
}   
.content {
	padding:30px;
}
.box .box-header .icon-title{
	background-color:#3795ed; 
	border-radius:4px;
	color:#fff;
	padding:7px 12px;
	font-size: 14px;
	margin-right: 10px;
}
.box .box-header {
    color: #444;
    display: block;
    padding: 20px;
    position: relative;
}
.box .box-header.with-border {
    border-bottom: 1px solid #d2d6de;
}
.box .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 30px 20px 30px;
}
.table>thead>tr>th {
    border-bottom: 1px solid #888;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table-striped > tbody > tr {
    background-color: #f0f0f0;
    transition: all .10s ease-in-out;
}
.table-striped > tbody > tr:hover{
	background-color: #ddd;
}
tbody td.action{
	text-align: right;
}
.btn-table__detail{
	color:#999;
	border:solid 1px #999;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	display: inline-block;
	line-height: 28px;
}
.btn-table__detail:hover{
	border:solid 1px #555;
	color:#555;
}

.tooltipster-sidetip.optimus .tooltipster-box {
    background: #ffffff;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.tooltipster-sidetip.optimus .tooltipster-content {
    color: #666;
    line-height: 18px;
    padding: 6px 14px;
    text-align: center;
}
.tooltipster-sidetip.optimus.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #e9e9e9  !important;
}
.tooltipster-sidetip.optimus.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #ffffff !important;
}
.tooltipster-sidetip.optimus.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #d8d8d8  !important;
}
.tooltipster-sidetip.optimus.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #ffffff !important;
}
.tooltipster-sidetip.optimus.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #d8d8d8  !important;
}
.tooltipster-sidetip.optimus.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #ffffff !important;
}
.tooltipster-sidetip.optimus.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #d8d8d8  !important;
}
.tooltipster-sidetip.optimus.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #ffffff !important;
}

.btn-back{
	color: #555;
}
.btn-back:hover{
	text-decoration: underline;
	color: #555;
}
.btn.btn-pad{
	padding:10px 20px;
	font-weight: bold;
	text-shadow: none;
}
.detail-klinik__logo{
	border:solid 1px #ddd;
	text-align: center;
	padding: 20px;
	border-radius: 4px;
	margin-bottom: 20px;
}
.border-space-15{
	border-top: solid 1px #ddd;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.detail-klinik__name{
	font-size: 20px;
	font-weight: bold;
}
.detail-klinik__status{
	font-size: 10px;
}
.detail-klinik__category{
	margin-bottom: 10px;
	margin-top: 10px;
}
.detail-klinik__owner{
	margin:20px 0px;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	padding:20px 0px;
}
.detail-klinik__office .the-title{
	font-weight: bold;
	margin-bottom: 5px;
}
.detail-klinik__office ul{
	list-style: none;
	margin: 0px;
	padding:0px;
}
.detail-klinik__office ul li{
	display: block;
	width: 100%;
	padding: 5px 0;
	border-bottom: solid 1px #eee;
}
.detail-klinik__office ul li:last-child{
	border:none;
}
.detail-klinik__office ul li .the-mark{
	padding: 5px 15px;
	font-size: 20px;
	color: #999;
}
.clear{
	clear: both;
	float: none;
}
.add-ons-link-help{
	border-top:solid 1px #e8e8e8;
	margin-top: 25px;
	padding-top: 15px;
}
.add-ons-link-help a:hover{
	text-decoration: underline;
}