.footer{
	background: #fff;
	padding: 50px 0 0;
	border-top: solid 1px #eee;
	position: relative;
	z-index: 88;
}
.footer ul{
	list-style: none;
	margin:0px;
	padding: 0px;
}
.footer ul li{
	padding: 7px 20px;
}
.footer a{
	color:#555;
}
.footer .about{
	border-right: solid 1px #eee;
	padding: 7px 20px;
}
.footer .about .logo img{
	width: 130px;
	margin-bottom: 25px;
}
.footer .about p{
	line-height: 22px;
}
.footer .list-categories{
}
.footer .list-categories ul li a{
	font-weight: bold;
	color:#555;
}
.footer .company-menu{
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
}
.footer .location-contact{
	padding:7px 40px;
}
.footer .location-contact .location{
	margin-bottom: 20px;
}
.footer .location-contact .the-contact{
	border-right: solid 1px #eee;
}
.footer .location-contact .the-contact .item{
	padding:3px 0;
}
.footer .location-contact .the-contact .item i{
	color: #006a96;
	margin-right: 10px;
}
.footer .location-contact .the-sosmed{
	text-align: center;
}
.footer .location-contact .the-sosmed i{
	color: #006a96;
	font-size: 30px;
	padding:10px 7px;
}
.footer .copyright{
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	padding: 20px 0;
	margin-top: 55px;
}


@media (min-width: 768px){
	
}
@media (max-width: 1100px){
	
}
@media (max-width: 992px){
	.footer .about {
	    padding: 7px 20px 7px 15px;
	}
	.footer .company-menu {
		border-left: none;
	}
	.footer .location-contact {
	    padding: 30px 15px 7px 20px;
	}
	.footer .list-categories {
		padding: 7px 15px 7px 20px;
	}
	.footer .location-contact .the-contact {
	    border-right: none;
	}
	.footer .location-contact .the-sosmed {
	    text-align: left;
	}
	.footer ul li {
	    padding-left: 0px;
	}
}
@media (max-width: 768px){
	.footer .list-categories {
		padding: 15px 0px;
		margin: 0px 15px;
		border-top: solid 1px #eee;
	}
	.footer .list-categories ul li{
		padding:0px;
	}
	.footer .list-categories ul li .row > div{
		padding:5px 15px;
	}
	.footer .about {
	    padding: 7px 15px;
	    border-right: none;
	}
	.footer .location-contact {
	    padding: 20px 15px 7px 15px;
	}
	.footer .company-menu {
		border-top:solid 1px #eee;
		border-bottom:solid 1px #eee;
		border-right: none;
		padding:20px 0px;
		margin:5px 15px;
	}
}