@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
.lr-title__big{
    color: #006a96;
    font-size: 24px;
    font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.lr-title__desc{
	font-size: 14px;
}
.modal .input-group .input-group-addon{
	background-color: transparent;
}
.modal .input-group input{
	border-left: none;
}
.modal .input-group-addon i{
	font-size: 13px;
}
.modal .input-group-addon i.fa-lock{
	font-size: 18px;
}
.lr-input__desc{
	margin-bottom: 20px;
}
.lr-to-register{
	font-size: 16px;
}
.modal fieldset{
	border:solid 1px #ddd;
	padding:15px 15px 0 15px;
	border-radius: 4px;
}
.sosmed-way .seperator{
	position: relative;
    text-align: center;
}
.sosmed-way .seperator::before {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
}
.seperator__text {
    font-size: 12px;
    line-height: 1.4;
    background: #fff;
    color: #bbb;
    padding: 0 1em;
    position: relative;
    z-index: 1;
}
.sosmed-way__place{
	margin-top: 20px;
}
.sosmed-way__place .btn{
	position: relative;
	display: block;
	text-align: center;
	padding-left: 20px;
	padding-right: 0px;
}
.sosmed-way__place .btn .btn__farleft-icon{
	position: absolute;
    top: 50%;
    left: 18px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}