$font-color 	: #333;
$font-family 	: 'Open Sans', sans-serif;

$primary-color 	: #164d64;

$btn-primary-bg 	: $primary-color;
$btn-primary-color 	: #fff;
$btn-primary-border	: #083243;
$btn-warning-bg		: #e79e22;
$btn-warning-color	: #fff;
$btn-warning-border	: #c37f0b;

$nav-color			: #ccc;
$nav-color-active	: #9ed7ea;
$nav-color-hover	: #fff;
$nav-bg-color		: $primary-color;

$break-small: 768px;
$break-large: 1100px;