.pos-relative {
  position: relative; }

.pos-absolute {
  position: absolute; }

.pos-fixed {
  position: fixed; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clear {
  clear: both; }

.removeFloatAfter, .list-input:after, table.header-fixed tr:after, .navbar .navbar-nav > li.user-menu > a.dropdown-toggle:after, .wrap-content .fixed-form-footer:after, .wrap-content .head-vform:after, .wrap-content .box-box .sub-form .list-galeri:after {
  clear: both;
  float: none;
  display: block;
  content: ''; }

.textOver, .navbar .navbar-nav > li.user-menu .dropdown-menu .user-header .name, .navbar .navbar-nav > li.user-menu .dropdown-menu .user-header .email, .wrap-content .box-box .sub-form .list-doctor .box.the-doctor .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.standarUL, .navbar .navbar-nav > li.user-menu .dropdown-menu .user-body ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.ml-5 {
  margin-left: 5; }

.mr-5 {
  margin-right: 5; }

.mt-5 {
  margin-top: 5; }

.mb-5 {
  margin-bottom: 5; }

.ml-10 {
  margin-left: 10; }

.mr-10 {
  margin-right: 10; }

.mt-10 {
  margin-top: 10; }

.mb-10 {
  margin-bottom: 10; }

.ml-15 {
  margin-left: 15; }

.mr-15 {
  margin-right: 15; }

.mt-15 {
  margin-top: 15; }

.mb-15 {
  margin-bottom: 15; }

.ml-20 {
  margin-left: 20; }

.mr-20 {
  margin-right: 20; }

.mt-20 {
  margin-top: 20; }

.mb-20 {
  margin-bottom: 20; }

.ml-25 {
  margin-left: 25; }

.mr-25 {
  margin-right: 25; }

.mt-25 {
  margin-top: 25; }

.mb-25 {
  margin-bottom: 25; }

.ml-30 {
  margin-left: 30; }

.mr-30 {
  margin-right: 30; }

.mt-30 {
  margin-top: 30; }

.mb-30 {
  margin-bottom: 30; }

.ml-35 {
  margin-left: 35; }

.mr-35 {
  margin-right: 35; }

.mt-35 {
  margin-top: 35; }

.mb-35 {
  margin-bottom: 35; }

.ml-40 {
  margin-left: 40; }

.mr-40 {
  margin-right: 40; }

.mt-40 {
  margin-top: 40; }

.mb-40 {
  margin-bottom: 40; }

.ml-45 {
  margin-left: 45; }

.mr-45 {
  margin-right: 45; }

.mt-45 {
  margin-top: 45; }

.mb-45 {
  margin-bottom: 45; }

.ml-50 {
  margin-left: 50; }

.mr-50 {
  margin-right: 50; }

.mt-50 {
  margin-top: 50; }

.mb-50 {
  margin-bottom: 50; }

.pl-5 {
  margin-left: 5; }

.pr-5 {
  margin-right: 5; }

.pt-5 {
  margin-top: 5; }

.pb-5 {
  margin-bottom: 5; }

.pl-10 {
  margin-left: 10; }

.pr-10 {
  margin-right: 10; }

.pt-10 {
  margin-top: 10; }

.pb-10 {
  margin-bottom: 10; }

.pl-15 {
  margin-left: 15; }

.pr-15 {
  margin-right: 15; }

.pt-15 {
  margin-top: 15; }

.pb-15 {
  margin-bottom: 15; }

.pl-20 {
  margin-left: 20; }

.pr-20 {
  margin-right: 20; }

.pt-20 {
  margin-top: 20; }

.pb-20 {
  margin-bottom: 20; }

.pl-25 {
  margin-left: 25; }

.pr-25 {
  margin-right: 25; }

.pt-25 {
  margin-top: 25; }

.pb-25 {
  margin-bottom: 25; }

.pl-30 {
  margin-left: 30; }

.pr-30 {
  margin-right: 30; }

.pt-30 {
  margin-top: 30; }

.pb-30 {
  margin-bottom: 30; }

.pl-35 {
  margin-left: 35; }

.pr-35 {
  margin-right: 35; }

.pt-35 {
  margin-top: 35; }

.pb-35 {
  margin-bottom: 35; }

.pl-40 {
  margin-left: 40; }

.pr-40 {
  margin-right: 40; }

.pt-40 {
  margin-top: 40; }

.pb-40 {
  margin-bottom: 40; }

.pl-45 {
  margin-left: 45; }

.pr-45 {
  margin-right: 45; }

.pt-45 {
  margin-top: 45; }

.pb-45 {
  margin-bottom: 45; }

.pl-50 {
  margin-left: 50; }

.pr-50 {
  margin-right: 50; }

.pt-50 {
  margin-top: 50; }

.pb-50 {
  margin-bottom: 50; }

.range-input-wrap .first {
  float: left;
  width: 47.5%; }
.range-input-wrap .between {
  padding-top: 30px;
  width: 5%;
  float: left;
  text-align: center; }
.range-input-wrap .last {
  width: 47.5%;
  float: left; }

.range-input-wrap:after {
  display: block;
  content: '';
  clear: both; }

.narrow {
  margin-right: -5px;
  margin-left: -5px; }
  .narrow > div {
    padding-right: 5px;
    padding-left: 5px; }

.help-inline {
  font-size: 12px;
  color: #777;
  display: inline;
  line-height: 2px; }

.help {
  font-size: 12px;
  color: #777;
  display: inline-block;
  line-height: 14px; }

.list-input {
  margin-bottom: 5px; }
  .list-input .input {
    width: 90%;
    float: left;
    margin-right: 1%; }
  .list-input .action {
    width: 9%;
    float: left; }

table.header-fixed thead {
  width: 97%; }

table.header-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%; }

table.header-fixed thead, table.header-fixed tbody, table.header-fixed tr, table.header-fixed td, table.header-fixed th {
  display: block; }

table.header-fixed tbody td, table.header-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0; }

.navbar {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  background: #164d64;
  border: none;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .navbar .navbar-brand {
    height: auto;
    padding: 12px 15px;
    line-height: 20px;
    margin-right: 25px; }
    .navbar .navbar-brand img {
      width: 120px;
      image-rendering: -webkit-optimize-contrast; }
  .navbar .navbar-nav > li > a, .navbar .navbar-nav > li.active > a:focus, .navbar .navbar-nav > li.active > a:hover {
    color: #ccc;
    border-bottom: 5px solid;
    border-top: 5px solid;
    border-color: #164d64;
    padding-top: 19px;
    padding-bottom: 19px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    .navbar .navbar-nav > li > a .label, .navbar .navbar-nav > li.active > a:focus .label, .navbar .navbar-nav > li.active > a:hover .label {
      position: absolute;
      top: 12px;
      right: 0px;
      text-align: center;
      font-size: 9px;
      padding: 2px 3px;
      line-height: .9;
      width: 17px;
      height: 17px;
      line-height: 13px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .navbar .navbar-nav > li.redeem > a, .navbar .navbar-nav > li.active.redeem > a:focus, .navbar .navbar-nav > li.active.redeem > a:hover {
    margin: 13px;
    padding: 10px 15px;
    border: solid 1px #fff;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li.active > a:focus, .navbar .navbar-nav > li.active > a:hover {
    color: #fff;
    background-color: transparent; }
  .navbar .navbar-nav > li.redeem > a:hover, .navbar .navbar-nav > li.redeem > a:focus {
    background-color: #9ed7ea;
    border-color: #9ed7ea;
    color: #164d64; }
  .navbar .navbar-nav > li.active > a, .navbar .navbar-nav > li.active > a:focus, .navbar .navbar-nav > li.active > a:hover {
    color: #9ed7ea;
    background-color: transparent;
    border-bottom-color: #9ed7ea; }
  .navbar .navbar-nav > li.user-menu > a.dropdown-toggle {
    padding: 16px;
    border: none; }
    .navbar .navbar-nav > li.user-menu > a.dropdown-toggle > span {
      display: block;
      float: left;
      background-color: #ededed;
      color: #ababab;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      line-height: 45px;
      font-size: 40px;
      overflow: hidden; }
    .navbar .navbar-nav > li.user-menu > a.dropdown-toggle > i {
      line-height: 35px;
      padding-left: 5px;
      font-size: 18px; }
  .navbar .navbar-nav > li.user-menu .dropdown-menu {
    padding-bottom: 0px; }
    .navbar .navbar-nav > li.user-menu .dropdown-menu .user-header {
      padding: 10px 20px 15px;
      border-bottom: solid 1px #eee; }
      .navbar .navbar-nav > li.user-menu .dropdown-menu .user-header .row {
        margin-left: -5px;
        margin-right: -5px; }
        .navbar .navbar-nav > li.user-menu .dropdown-menu .user-header .row > div {
          padding-left: 5px;
          padding-right: 5px; }
      .navbar .navbar-nav > li.user-menu .dropdown-menu .user-header .logo {
        overflow: hidden;
        text-align: center;
        border: solid 1px #eee; }
        .navbar .navbar-nav > li.user-menu .dropdown-menu .user-header .logo img {
          width: 100%; }
      .navbar .navbar-nav > li.user-menu .dropdown-menu .user-header .name {
        font-weight: bold;
        line-height: 24px;
        margin-top: 10px; }
      .navbar .navbar-nav > li.user-menu .dropdown-menu .user-header .email {
        font-size: 13px; }
    .navbar .navbar-nav > li.user-menu .dropdown-menu .user-body ul li {
      border-bottom: solid 1px #eee; }
      .navbar .navbar-nav > li.user-menu .dropdown-menu .user-body ul li a {
        padding: 10px 15px;
        color: #333;
        display: block;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .navbar .navbar-nav > li.user-menu .dropdown-menu .user-body ul li a:hover, .navbar .navbar-nav > li.user-menu .dropdown-menu .user-body ul .navbar-nav > li > a:focus {
        text-decoration: none;
        background-color: #f3f3f3; }
  .navbar .navbar-nav > li.notif-menu > a.dropdown-toggle {
    padding: 19px;
    border: none; }
    .navbar .navbar-nav > li.notif-menu > a.dropdown-toggle > span {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: block;
      position: relative;
      border: solid 1px #ccc;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .navbar .navbar-nav > li.notif-menu > a.dropdown-toggle > span > i {
        font-size: 16px; }
      .navbar .navbar-nav > li.notif-menu > a.dropdown-toggle > span > .label {
        position: absolute;
        top: -5px;
        right: -5px;
        text-align: center;
        font-size: 9px;
        padding: 2px 3px;
        line-height: .9;
        width: 17px;
        height: 17px;
        line-height: 13px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
  .navbar .navbar-nav .open > a, .navbar .navbar-nav > li.active.open > a:focus, .navbar .navbar-nav > li.active.open > a:hover, .navbar .navbar-nav .open > a:focus, .navbar .navbar-nav > li.active.open > a:focus, .navbar .navbar-nav .open > a:hover, .navbar .navbar-nav > li.open > a:focus, .navbar .navbar-nav > li.active.open > a:hover {
    background-color: transparent;
    border: none; }

.sub-navbar {
  background-color: #fff;
  border-bottom: solid 1px #e9e9e9; }
  .sub-navbar .navbar-nav > li a, .sub-navbar .navbar .navbar-nav > li.active > a:focus, .navbar .sub-navbar .navbar-nav > li.active > a:focus, .sub-navbar .navbar .navbar-nav > li.active > a:hover, .navbar .sub-navbar .navbar-nav > li.active > a:hover {
    color: #555;
    padding: 12px 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .sub-navbar .navbar-nav > li a:hover, .sub-navbar .navbar .navbar-nav > li > a:focus, .navbar .sub-navbar .navbar-nav > li > a:focus, .sub-navbar .navbar .navbar-nav > li.active > a:hover, .navbar .sub-navbar .navbar-nav > li.active > a:hover {
    background-color: #f7f7f7; }
  .sub-navbar .navbar-nav > li.active > a, .sub-navbar .navbar .navbar-nav > li.active > a:focus, .navbar .sub-navbar .navbar-nav > li.active > a:focus, .sub-navbar .navbar .navbar-nav > li.active > a:hover, .navbar .sub-navbar .navbar-nav > li.active > a:hover {
    background-color: #f7f7f7;
    padding: 12px 20px 10px;
    border-bottom: 2px solid #164d64; }

body {
  background-color: #fcfcfc; }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fcfcfc;
  z-index: 9;
  opacity: 1;
  text-align: center;
  color: #555; }
  #loader .position-center-center {
    left: 50%;
    position: absolute;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  #loader p {
    font-style: italic;
    margin-top: 15px; }
  #loader img {
    width: 150px; }

.container.custom-wrap {
  padding: 0px; }

.wrap-content {
  width: inherit;
  height: calc(100% - 113px);
  position: fixed;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto; }
  .wrap-content .row {
    height: 100%; }
    .wrap-content .row > div {
      height: 100%; }
  .wrap-content .fixed-title {
    border-bottom: solid 3px #ddd;
    padding: 10px 0px;
    margin-bottom: 0px;
    margin-top: 20px; }
    .wrap-content .fixed-title .no {
      background-color: #bbb;
      color: #fff;
      text-align: center;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-weight: bold;
      border-radius: 50%;
      margin-right: 5px; }
    .wrap-content .fixed-title .the-title {
      font-weight: bold;
      font-size: 16px;
      color: #164d64; }
      .wrap-content .fixed-title .the-title i {
        display: none; }
  .wrap-content .fixed-form-footer {
    background-color: #ddd;
    padding: 10px 10px; }
  .wrap-content .head-vform {
    padding: 8px;
    background-color: #FFF;
    border: solid 1px #ddd; }
  .wrap-content .box-box {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px 0px 20px 0;
    overflow: hidden; }
    .wrap-content .box-box .desc {
      margin-bottom: 20px; }
      .wrap-content .box-box .desc .the-title {
        color: #164d64;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 10px; }
      .wrap-content .box-box .desc .the-desc {
        font-size: 14px; }
    .wrap-content .box-box .sub-form {
      margin-bottom: 15px; }
      .wrap-content .box-box .sub-form .title {
        border-bottom: solid 1px #ddd;
        padding: 10px 0px;
        margin-bottom: 20px; }
        .wrap-content .box-box .sub-form .title .no {
          background-color: #bbb;
          color: #fff;
          text-align: center;
          display: inline-block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          font-weight: bold;
          border-radius: 50%;
          margin-right: 5px; }
        .wrap-content .box-box .sub-form .title .the-title {
          font-weight: bold;
          font-size: 16px;
          color: #bbb; }
          .wrap-content .box-box .sub-form .title .the-title i {
            display: none; }
      .wrap-content .box-box .sub-form .title.for-main .the-title {
        color: #333; }
      .wrap-content .box-box .sub-form .title.active .no {
        background-color: #164d64; }
      .wrap-content .box-box .sub-form .title.active .the-title {
        color: #164d64; }
        .wrap-content .box-box .sub-form .title.active .the-title i {
          color: #12a627;
          margin-left: 7px;
          display: inline; }
      .wrap-content .box-box .sub-form .list-doctor .box {
        width: 120px;
        height: 120px;
        border-radius: 4px;
        box-sizing: border-box;
        float: left;
        cursor: pointer;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 10px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .wrap-content .box-box .sub-form .list-doctor .box.the-doctor {
        border: solid 1px #ccc; }
        .wrap-content .box-box .sub-form .list-doctor .box.the-doctor .photo {
          text-align: center;
          width: 100%;
          height: 87px;
          border-bottom: solid 1px #ccc;
          overflow: hidden;
          background-color: #fff; }
          .wrap-content .box-box .sub-form .list-doctor .box.the-doctor .photo img {
            width: 100%; }
        .wrap-content .box-box .sub-form .list-doctor .box.the-doctor .name {
          background-color: #fff;
          text-align: center;
          padding: 5px 5px;
          height: 30px;
          box-sizing: border-box;
          font-weight: bold; }
      .wrap-content .box-box .sub-form .list-doctor .box.the-doctor:hover {
        border-color: #164d64; }
      .wrap-content .box-box .sub-form .list-doctor .box.add {
        border: dashed 2px #ccc;
        background-color: #eee;
        padding-top: 15px; }
        .wrap-content .box-box .sub-form .list-doctor .box.add .icon {
          width: 100%;
          text-align: center; }
          .wrap-content .box-box .sub-form .list-doctor .box.add .icon i {
            font-size: 60px; }
        .wrap-content .box-box .sub-form .list-doctor .box.add .explainer {
          text-align: center;
          font-weight: bold;
          margin-top: 7px; }
      .wrap-content .box-box .sub-form .list-doctor .box.add:hover {
        border-style: solid;
        background-color: #ddd; }
      .wrap-content .box-box .sub-form .list-doctor:after {
        content: "";
        display: block;
        clear: both; }
      .wrap-content .box-box .sub-form .list-galeri .box {
        width: 120px;
        height: 120px;
        border-radius: 4px;
        box-sizing: border-box;
        float: left;
        cursor: pointer;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 10px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .wrap-content .box-box .sub-form .list-galeri .box.image {
        border: solid 1px #ccc; }
        .wrap-content .box-box .sub-form .list-galeri .box.image .the-image {
          text-align: center;
          width: 100%;
          height: 100%;
          overflow: hidden;
          background-color: #fff; }
          .wrap-content .box-box .sub-form .list-galeri .box.image .the-image img {
            width: 100%; }
      .wrap-content .box-box .sub-form .list-galeri .box.image:hover {
        border-color: #164d64; }
      .wrap-content .box-box .sub-form .list-galeri .box.add {
        border: dashed 2px #ccc;
        background-color: #eee;
        padding-top: 15px; }
        .wrap-content .box-box .sub-form .list-galeri .box.add .icon {
          width: 100%;
          text-align: center; }
          .wrap-content .box-box .sub-form .list-galeri .box.add .icon i {
            font-size: 60px; }
        .wrap-content .box-box .sub-form .list-galeri .box.add .explainer {
          text-align: center;
          font-weight: bold;
          margin-top: 7px; }
      .wrap-content .box-box .sub-form .list-galeri .box.add:hover {
        border-style: solid;
        background-color: #ddd; }
      .wrap-content .box-box .sub-form .list-location .box {
        border-bottom: solid 1px #ddd;
        padding-bottom: 15px;
        padding-top: 15px;
        cursor: pointer; }
        .wrap-content .box-box .sub-form .list-location .box .list-style {
          text-align: center;
          padding-top: 5px; }
          .wrap-content .box-box .sub-form .list-location .box .list-style i {
            font-size: 24px; }
        .wrap-content .box-box .sub-form .list-location .box .address .short {
          font-weight: bold;
          font-size: 15px; }
        .wrap-content .box-box .sub-form .list-location .box .action {
          padding-top: 10px; }
      .wrap-content .box-box .sub-form .list-location .box:hover {
        background-color: #eee; }
      .wrap-content .box-box .sub-form .list-location.v2 .box {
        border-bottom: solid 1px #ddd;
        padding-bottom: 2px;
        padding-top: 5px;
        cursor: pointer; }
      .wrap-content .box-box .sub-form .list-location.v2 .box:hover {
        background-color: #f5f5f5; }
      .wrap-content .box-box .sub-form .list-location.v2 .checkbox {
        margin: 0px; }
      .wrap-content .box-box .sub-form .list-location.v2 input[type='checkbox'] {
        height: 15px;
        width: 15px; }
      .wrap-content .box-box .sub-form .address-maps {
        border-radius: 4px;
        border: solid 1px #ccc;
        height: 150px;
        overflow: hidden;
        background-color: #fff; }
  .wrap-content .box-box.v4 {
    height: calc(100% - 200px); }
  .wrap-content .box-box.v3 {
    height: calc(100% - 150px);
    padding-bottom: 0px; }
  .wrap-content .box-box.v2 {
    height: calc(100% - 95px); }
  .wrap-content .box-box.vtable {
    padding-top: 0px; }
  .wrap-content .box-box.vform {
    background-color: #fff;
    padding: 15px 20px 0px 15px;
    border-left: solid 1px #eee; }
  .wrap-content .topbar {
    padding: 20px 0; }
  .wrap-content .operation .right {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: none; }
  .wrap-content .operation .left {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .wrap-content .img-welcome {
    text-align: center;
    height: 100%;
    padding: 40px 20px;
    position: relative; }
    .wrap-content .img-welcome img {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0; }

.image-preview-input {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #ddd;
  margin-bottom: 10px;
  text-align: center; }
  .image-preview-input img {
    width: 100%; }
  .image-preview-input i {
    font-size: 60px;
    margin: 40px 0;
    position: inline-block; }

.doc-preview-input {
  border: solid 1px #eee;
  padding: 5px 10px;
  color: #999;
  display: inline-block;
  margin-bottom: 5px; }

.btn-file {
  position: relative;
  overflow: hidden; }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }

.btn {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn-primary {
  background-color: #164d64;
  color: #fff;
  border-color: #083243; }

.btn-warning {
  background-color: #e79e22;
  color: #fff;
  border-color: #c37f0b; }

.btn-submit {
  padding-left: 25px;
  padding-right: 25px; }

hr.devider {
  border-color: #ccc; }

/*============================================================================
TABLE CONFIG
============================================================================*/
table tbody tr td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block; }

.table {
  margin-bottom: 0px; }

table.header-table {
  background: #FFFFFF;
  border-top: 1px solid #ddd;
  border-radius: 0 !important;
  height: 45px !important;
  margin-bottom: 0px; }
  table.header-table thead tr th {
    color: #333;
    font-weight: bold !important;
    padding: 8px;
    line-height: 28px !important;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    display: inline-block; }

table.table-clickable tr {
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
table.table-clickable tr:hover {
  background-color: #ddd; }
table.table-clickable tr.active {
  background-color: #2e7dd6;
  color: #fff; }

table.tb-list-voucher thead tr th:first-child {
  width: 30%; }
table.tb-list-voucher thead tr th:nth-child(2) {
  width: 18%; }
table.tb-list-voucher thead tr th:nth-child(3) {
  width: 15%; }
table.tb-list-voucher thead tr th:nth-child(4) {
  width: 10%; }
table.tb-list-voucher thead tr th:nth-child(5) {
  width: 15%; }
table.tb-list-voucher thead tr th:last-child {
  width: 12%; }
table.tb-list-voucher tbody tr td:first-child {
  width: 30%; }
table.tb-list-voucher tbody tr td:nth-child(2) {
  width: 18%; }
table.tb-list-voucher tbody tr td:nth-child(3) {
  width: 15%; }
table.tb-list-voucher tbody tr td:nth-child(4) {
  width: 10%; }
table.tb-list-voucher tbody tr td:nth-child(5) {
  width: 15%; }
table.tb-list-voucher tbody tr td:last-child {
  width: 12%; }

/*============================================================================
END TABLE CONFIG
============================================================================*/
@media (max-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }
